.hero {
    padding: $paddingContent;
    background-color: $colorBlack;
    background: linear-gradient(180deg, $colorBlack 50%, $colorMain 50%);
    /* max-height: 20vh; */

    &__image {
        max-height: 40vh;
        @include tablet {
            max-width: 40%;
            max-height: 20vh;
            margin: 0 auto;
        }
        @include tablet {
            max-width: 30%;
            max-height: 15vh;
            margin: 0 auto;
        }
    }
    &__text {
        color: #038AE4;
        text-shadow: 4px 2px 1px rgb(0, 0, 0, 0.9);
        text-align: center;
        font-size: 2rem;
        padding: $paddingContent;
        @include desktop {
            font-size: 2.5rem;
        }
    }
}

nav {
    background: $colorBlack;
    ol {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: flex;
        /* flex-direction: column; */
        overflow: scroll;
        @include desktop {
            flex-direction: row;
            justify-content: center;
        }
    }
        li {
            font-size: 16px;
            padding: 0.75rem 1.25rem;
            text-align: center;
            display: flex;
            align-items: center;
            text-decoration: underline;
            text-decoration: 1px underline;
            text-shadow: 2px 2px 1px rgb(3, 138, 228, 0.9);
            @include desktop {
                margin: 0 1em;
            }
        }
        li:nth-child(3):after {
            color: $colorMain;
            content:'\25BA';
            margin-left: 10px;
            @include tablet  {
                content: none;
            }
        }
            a {
                color: $colorMain;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
}