main {
    & h2{
        color: $colorThird;
        text-shadow: 4px 2px 1px rgb(0, 0, 0, 0.9);
        text-align: center;
    }
    #goToFilter {
        color: $colorBlack;
        text-shadow: 1px 0px 0px rgb(237, 23, 41, 0.9);
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    & p {
        text-align: center;
    }
    & #arrowParagraph:before {
        content: '\2191';
        display: block;
    }
    @include tablet {
        padding: 0 4rem;
    }
    @include desktop {
        padding: 0 8rem;
    }
}

#characters {
    /* border: 1px solid $colorMain; */
    margin: 0.5em;
    padding: 0.5em;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 3px;
    max-height: 70vh;
    overflow: scroll;
    @include desktop {
        max-height: 95vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }
    & li {
        /* border: 1px solid $colorBlack; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        border-radius: 3px;
        min-height: 25vh;
        padding: 0.5em;
        text-transform: capitalize;
    }
    & li:nth-child(odd) {
        background: radial-gradient($colorMain, $colorWhite);
        text-shadow: 2px 2px 0px rgb(255,255,255, 0.9);
    }
    & li:nth-child(even) {
        background: radial-gradient($colorSecond, $colorBlack);
        color: $colorWhite;
        text-shadow: 2px 2px 1px rgb(0,0,0, 0.9);
    }
        & img {
            max-height: 20vh;
        }
        & p {
            font-size: 14px;
            letter-spacing: 1px;
            @include tablet {
                font-size: 3rem;
                letter-spacing: 1px;
            }
            @include desktop {
                font-size: 2.5rem;
                letter-spacing: 3px;
            }
        }
        & a {
            font-size: 12px;
            color: $colorWhite;
            text-shadow: none;
            width: 28%;
            display: flex;
            justify-content: center;
            padding-top: 3px;
            border-radius: 50%;
            background: $colorBlack;
            @include tablet {
                font-size: 1rem;
                width: 15%;
                padding: 0.75em 1em 0.5em;
            }
        }
}

