main {
    & h2{
        color: $colorThird;
        text-shadow: 4px 2px 1px rgba(0, 0, 0, 0.9);
        text-align: center;
    }
    #goToFilter {
        color: $colorBlack;
        text-shadow: 1px 0px 0px rgba(237, 23, 41, 0.9);
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    & p {
        text-align: center;
    }
    & #arrowParagraph:before {
        content: '\2191';
        display: block;
    }
    @include tablet {
        padding: 0 4rem;
    }
    @include desktop {
        padding: 0 8rem;
    }
}

#characters {
    /* border: 1px solid $colorMain; */
    margin: 0.5em;
    padding: 0.5em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 3px;
    max-height: 70vh;
    overflow: scroll;
    @include tablet {
        grid-gap: 2rem;
    }
    @include desktop {
        max-height: 95vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        & li:nth-child(6), li:nth-child(8),li:nth-child(14),li:nth-child(16),li:nth-child(22),li:nth-child(24),li:nth-child(30),li:nth-child(32) 
        ,li:nth-child(38),li:nth-child(40),,li:nth-child(46),li:nth-child(48),li:nth-child(54),li:nth-child(56),li:nth-child(62),li:nth-child(64)
        ,li:nth-child(70),li:nth-child(72),li:nth-child(78),li:nth-child(80),li:nth-child(86),li:nth-child(88),li:nth-child(94),li:nth-child(96)
        ,li:nth-child(102),li:nth-child(104),li:nth-child(110),li:nth-child(112),li:nth-child(118),li:nth-child(120),li:nth-child(126),li:nth-child(128)
        ,li:nth-child(134),li:nth-child(136),li:nth-child(142),li:nth-child(144),li:nth-child(150) {
            background: radial-gradient($colorSecond, $colorBlack) !important;
            background-image: url('/pokeproject/images/pokeball-bg.jpeg') !important;
            text-shadow: 2px 2px 0px rgba(255,255,255, 0.9) !important;
            color: black !important;
        }
        & li:nth-child(5), li:nth-child(7),li:nth-child(10),li:nth-child(13), li:nth-child(15),li:nth-child(21),li:nth-child(23),li:nth-child(29),li:nth-child(31)
        ,li:nth-child(37),li:nth-child(39),li:nth-child(45),li:nth-child(47),li:nth-child(53),li:nth-child(55),li:nth-child(61),li:nth-child(63)
        ,li:nth-child(69),li:nth-child(71),li:nth-child(77),li:nth-child(79),li:nth-child(85),li:nth-child(87),li:nth-child(93),li:nth-child(95)
        ,li:nth-child(101),li:nth-child(103),li:nth-child(109),li:nth-child(111),li:nth-child(117),li:nth-child(119),li:nth-child(125),li:nth-child(127)
        ,li:nth-child(133),li:nth-child(135),li:nth-child(141),li:nth-child(143),li:nth-child(149) {
            background: radial-gradient($colorSecond, $colorBlack) !important;
            color: $colorWhite !important;
            text-shadow: 2px 2px 1px rgba(0,0,0, 0.9) !important;
        }
    }
    & li {
        /* border: 1px solid $colorBlack; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        border-radius: 3px;
        min-height: 25vh;
        padding: 0.5em;
        text-transform: capitalize;
        transition: 0.75s;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            img { 
                transform: translate3d(0px, -10px, 0px) rotateY(180deg)rotateX(5deg) rotateZ(1deg);
                transition: 0.75s;
            }
        }
    }
    & li:nth-child(odd) {
        background: radial-gradient($colorSecond, $colorBlack);
        background-image: url('/pokeproject/images/pokeball-bg.jpeg');
        text-shadow: 2px 2px 0px rgba(255,255,255, 0.9);
    }
    & li:nth-child(even) {
        background: radial-gradient($colorSecond, $colorBlack);
        color: $colorWhite;
        text-shadow: 2px 2px 1px rgba(0,0,0, 0.9);
    }
        & img {
            max-height: 20vh;
            transition: 0.75s;
            filter: drop-shadow(2px 4px 6px black);
        }
        & p {
            font-size: 14px;
            letter-spacing: 1px;
            @include tablet {
                font-size: 3rem;
                letter-spacing: 1px;
            }
            @include desktop {
                font-size: 2.5rem;
                letter-spacing: 3px;
            }
        }
        & a {
            font-size: 12px;
            color: $colorBlack;
            text-shadow: 2px 2px 0px rgba(255,255,255, 0.9);
            text-shadow: none;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            padding-top: 3px;
            border-radius: 50%;
            /* background: $colorBlack; */
            background-image: url('/pokeproject/images/favicon.jpg') !important;
            background-size: 100%;
            @include tablet {
                font-size: 1.25rem;
                width: 30px;
                height: 30px;
                padding: 0.5em 1em 0.5em;
            }
        }
}

