html {
    font-size: 10px;
    box-sizing: border-box;
    background-color: #E8E8E8;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $mainFont;
    font-size: 1.8rem;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $mainFont;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
    line-height: 35px;
}

h6 {
    font-size: 2.8rem;
}
main {
    margin-top: 1em;
}
li {
    list-style: none;
}
#container_spinner{
	background-color: rgba(250,240,245,0.9);
	position: absolute;
    top: 50%;
    left: 50%;
	-webkit-transition: all  1s ease;
	-o-transition: all  1s ease;
	transition: all  1s ease;
	z-index: 10000;
}
#spinner{
	border: 5px solid #ccc;
	border-top-color: red;
	border-top-style: groove;
	height: 20px;
	width:  20px;
	border-radius: 100%;
	position: absolute;
	top: 75%;
    left: 50%;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}
@keyframes girar{
	from{transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
//Utilities
$paddingContent: 1rem;
